@import 'bootstrap';
@import "font-awesome";

.jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;  
    margin-bottom: 0;  
  }

  .nav2 li {
    margin-right: 60px;
}

.navbar2 .navbar-nav {
  float: none;
  text-align: center
}
.center-container {
  margin-left: 30%;
}
